<div class="toolbar" role="banner">
  <a href="https://www.ucb.edu.bo/" target="_blank"> <img width="40" src="assets/img/ucb.png" alt="Logo" />
  </a>
  <span>Univerisdad Católica Boliviana SIS-241 Tecnologías WEB</span>
  <div class="spacer"></div>
  <a href="https://www.kroatoan.es/articulos/trabajan-juntos-html-css-javascript-php-mysql/"
    target="_blank">Introducción a la Tecnología WEB</a>
  <a href="https://www.atlassian.com/es/git/tutorials/what-is-version-control" target="_blank">Solución tecnológica
    WEB</a>
  <a href="https://www.hiberus.com/crecemos-contigo/que-es-angular-y-para-que-sirve/" target="_blank">CMS y
    Framework</a>
</div>

<div class="content" role="main">
  <h1>
    <span>{{ title }}</span>
  </h1>
  <img src="assets/img/tecnos_web.png" width="600" alt="UCB" />
  <h2>Acerca de la materia</h2>
  <p>
    La materia de Tecnologías WEB, es una materia de la carrera de Ingeniería de Sistemas de la Universidad
    Católica Boliviana, que tiene como objetivo principal, Investigar y aplicar tecnologías Web acorde a la dinámica de
    desarrollo de la disciplina y estándares de Internet.
  </p>
  <br>
  <h2>Competencias en el campo laboral</h2>
  <p>La programación web es la herramienta más importante del Internet ya que permite generar un diálogo constante,
    dinámico y amigable entre los usuarios y la información que se encuentra en los sitios web.Esta disciplina
    informática tiene el objetivo de programar instrucciones y operaciones complejas para crear sitios
    web a través de lenguajes especializados como JavaScript, Python, PHP, C# o Perl.
    <br> <br>
    Cada lenguaje tiene un propósito diferente, ya sea para crear blogs, tiendas online, webs corporativas, redes
    sociales o sitios de entretenimiento como Youtube o Instagram.Es decir, si necesitamos crear nuestra propia tienda
    en línea, ésta debe tener un catálogo de productos o servicios, métodos de pago en línea, seguridad virtual y una
    interfaz amigable, fácil y confiable para el usuario. Para ello, se utiliza un lenguaje de programación específico
    que dote a nuestro sitio de todas estas características.
    <br> <br>
  </p>
  <h2>Plan de la asignatura</h2>
  <div class="card"> <a href="https://drive.google.com/file/d/1qVAMZIg0gM2y-6Us91wyltC4Zw4UBkft/view" target="_blank">
      Descarga el plan de la asignatura aqui!</a>
  </div>
  <h2>Contenidos de la asignatura</h2>
  <table>
    <tr>
      <th>Unidad de Aprendizaje</th>
      <th>Contenido Teórico</th>
      <th>Contenido Práctico</th>
    </tr>
    <tr>
      <td rowspan="5"> Introducción a la Tecnología WEB</td>
      <td>Conceptos de Tecnología, TIC, NTIC, Evolución de las WEB, diferencia entre página, portal y sistema WEB.</td>
      <td>HTML5</td>
    </tr>
    <tr>
      <td>Conceptos de E_Commerce, E_Business, E_learning, BI.</td>
      <td>CSS+HTML5</td>
    </tr>
    <tr>
      <td>Conceptos de ERP, CRM, SCM, KM</td>
      <td>HTML+PHP+CSS</td>
    </tr>
    <tr>
      <td>Concepto Protocolo HTTP, Dominio, Servidor web, Servidor local, Servidor Cloud,</td>
      <td>HTML+CSS+PHP+MySQL</td>
    </tr>
    <tr>
      <td>Modelo MVC</td>
      <td>PHP+MySQL+AJAX</td>
    </tr>
    <tr>
      <td rowspan="5">Solución tecnológica WEB</td>
      <td>Fundamentos JavaScript, Github, BitBucket</td>
      <td>JavaScript</td>
    </tr>
    <tr>
      <td>SOA, SaaS, Web Services</td>
      <td>JavaScript</td>
    </tr>
    <tr>
      <td>Concepto DHTML - DOM</td>
      <td>DHTML</td>
    </tr>
    <tr>
      <td>Concepto CMS, Módulo, Template, PlugIn.</td>
      <td>DHTML</td>
    </tr>
    <tr>
      <td>Vue, Concepto FrontEnd, BackEnd</td>
      <td>Vue</td>
    </tr>
    <tr>
      <td rowspan="5">CMS y FRAMEWORK</td>
      <td>Node JS</td>
      <td>Servidor Node Js</td>
    </tr>
    <tr>
      <td>Concepto FRAMEWORK</td>
      <td>TypeScript</td>
    </tr>
    <tr>
      <td>Fundamentos Angular</td>
      <td>Aplicación interactiva - Angular</td>
    </tr>
    <tr>
      <td>Componentes Angular</td>
      <td>Ruteo - Angular</td>
    </tr>
    <tr>
      <td>Programación Reactiva</td>
      <td>JSON - Angular</td>
    </tr>
  </table>

  <br>
  <footer>
    <div class="aboutme">
      <a href="https://github.com/TheAlanMC/" target="_blank" rel="noopener"> <img width="40"
          src="https://1000logos.net/wp-content/uploads/2021/05/GitHub-logo.png" alt="Logo" />Chris Alan Apaza
        Aguilar</a>
    </div>
  </footer>

  <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
    <title>Gray Clouds Background</title>
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>

</div>

<router-outlet></router-outlet>